<p><a href="#" class="c-button">Button</a></p>
<p><a href="#" class="c-button  c-button--primary">Primary button</a></p>
<p><a href="#" class="c-button  c-button--alt">Alternative button</a></p>
<p><a href="#" class="c-button  c-button--text">Text button</a></p>
<p><a href="#" class="c-button  c-button--outline">Outline button</a></p>
<p><a href="#" class="c-button  c-button--outline  c-button--alt">Alternative outline button</a></p>
<p><a href="#" class="c-button  c-button--outline  c-button--text">Text outline button</a></p>
<p><a href="#" class="c-button  c-button--positive">Positive button</a></p>
<p><a href="#" class="c-button  c-button--negative">Negative button</a></p>
<p><a href="#" class="c-button  c-button--naked">Naked button</a></p>
<p><a href="#" class="c-button  c-button--naked  c-button--alt">Naked alternative button</a></p>
<p><a href="#" class="c-button  c-button--naked  c-button--text">Naked text button</a></p>
<p><a href="#" class="c-button  c-button--large">Large button</a></p>
<p><a href="#" class="c-button  c-button--small">Small button</a></p>
<p><a href="#" class="c-button  c-button--tiny">Tiny button</a></p>
<p><a href="#" class="c-button  c-button--full">Full button</a></p>
<p><a href="#" class="c-button  c-button--link">Link button</a></p>
<p><a href="#" class="c-button" data-icon="arrow-right">Icon-before button</a></p>
<p><a href="#" class="c-button" data-icon-after="arrow-right">Icon-after button</a></p>
<p><a href="#" class="c-button  c-button--icon-separated" data-icon-after="arrow-right">Separated icon button</a></p>
<p><a href="#" class="c-button  c-button--alt  c-button--icon-separated" data-icon-after="arrow-right">Alternative separated icon button</a></p>
