{{> molecules-block(
  element: "div",
  has-image: true,
    image-class: "u-1/4",
    has-icon: true,
    svg-parent-class: "",
    svg.symbol: "",
  media: true,
    media-right: false,
    media-break: true,
    media-break-at: "palm",
  has-heading: true,
  has-excerpt: true,
  has-meta: true,
    meta-class: "c-meta--inline",
  has-link: false,
  has-fulllink: true,
  has-more-link: true,
    text.more: "Custom link text"
  )}}
